@font-face {
    font-family:'FonteLogo';
    src: url("../fonte/Higuen-Font/Higuen\ Serif.otf");
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    
}


header{
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
    align-items: center;
    text-align: center;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    position: fixed;
    transition: all .35s ease;
    background-color: #ffffff;
    padding: 14px 14%;
}

.logo{
    font-weight: 500;
    font-size: 1rem;
}

.cabeçalho-link{
    display: flex;
    font-size: 1rem;
    gap: 3rem;
}

.cabeçalho-link a{
  
   color: #67B0B4;
   font-weight: 700;
   transition: 0.3s;
   text-decoration: none;
}

.cabeçalho-link a:hover{
    color: #11676b;
}

.icon span{
    font-weight: 700;
    transition: 0.3s;
    color: #11676b;
    font-size: 1rem;
    cursor: pointer;
    margin: 5px;
}

.icon span:hover{
    color:#67B0B4;
}

.search-box{
    position: absolute;
    top: 50%;
    left: 86%;
    transform: translate(-50%, -50%);
    background: #caddde;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}
.search-btn{
    color:#0c0c0c;
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #caddde;
    display: flex ;
    justify-content: center;
    align-items:center;
    transition: 3s;

}
.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color:#67B0B4;
    font-size: 16px;
    transition: 0.6s;
    line-height: 0px;
    width: 0px;
}

.search-box:hover > .search-txt{
    width: 80%;
    padding: 0 6px;
}
.search-box:hover > .search-btn{
    background: #fff;

}

.Meio button{
    
    background-color: #67B0B4;
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    border: 2px solid #67B0B4;
    transition: all 0.6s ease-in-out;

}

.Meio button:hover{
    background-color: #11676b;
    transform: scaleY(1.2);
    transform: translateY(-5px); /*botão se mexe */
    background: transparent;
    color: #11676b;
}

section{
    padding-top: 4rem;
}

section h1{
    font-family: 'FonteLogo', sans-serif;
    color: #67B0B4;
    align-items: center;
    text-align: center;
    font-size: 2rem;
}
section p{
    font-family: 'FonteLogo', sans-serif;
}
.container-card-1{
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 2rem;
}

.cards img{
    
    width: 450px;
    height: auto;
    transition: 0.35s ease;

}

.cards img:hover{
    transform: scale(0.9) translateY(5px);
    cursor: pointer;
}

.cta{
    background: url("https://github.com/mariaato/Ms-cosmetics/assets/160027558/ee0d00b4-c2ba-4954-b90a-dc0cdb78856d");
    background-position: center;
    background-size: cover;
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 5rem;
}

.text-cta{
    
    padding-left: 5rem;
}

.text-cta h6{
    font-family: 'FonteLogo', sans-serif;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 14px;
}

.text-cta h4{
    font-family: 'FonteLogo', sans-serif;
    font-size: 3.3rem;
    line-height: 1.2;
    margin-bottom: 30px;
}


.container-perfumes{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    text-align: center;
    margin-top: 3rem;   
}

.container-perfumes img:hover{
    transform: scale(0.9) translateY(5px);
    cursor: pointer;
    transition: 0.3s;
}

.perfumes{
    
    border-radius: 50px;
    background-color: #ffffff;
    color:#67B0B4;
}

.perfumes img{
    width: 250px;
    height: auto;
}

.Contato{
    display: flex;
    gap: 5rem;
    justify-content: space-around;
    background-color: #67B0B4;
    padding: 8rem;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px , auto));
}

.meio-contato h3{
    font-family: 'FonteLogo', sans-serif;
    color:#11676b;
    font-size: 23px;
    margin-bottom: 1.6rem;
}

.meio-contato h5{
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}

.meio-contato a{
    display: block;
    color: #fff;
    font-weight: 600;
    transition: 0.35s ease;
    text-decoration: none;
    transition: color 0.5s; /* Transição suave de cor ao passar o mouse */
    color:#fff;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;/*remove o sublinhado padrão*/
    transition: color 0.5s;
}

.meio-contato a:hover{
     color:#11676b;/*azul claro ao passar o mouse em cima*/
}


footer#rodape {
    clear: both; 
    border-top: 1px solid #606060;
 }
 
 footer#rodape p{
     text-align:center;
 }
 
 footer#rodape a{
    color: #0c0c0c;
        transition: 0.3s;
        text-decoration: none;
 }
     
footer#rodape a:hover{
        color: #11676b;
}
 
